{% extends "base.html" %}

{% block title %} Classes {% endblock %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Hero Single Section Begin -->
    <section class="hero-single set-bg spad" data-setbg="/static/img/aboutus_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="hero-item">
                        <span class="tickler-text">Who we are</span>
                        <h1>About us</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Single Section End -->

    <!-- About Us Section Begin -->
    <section class="about-us spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-lt">
                        <div class="section-title">
                            <span>Your inner Chi</span>
                            <h2>The very heart of yoga </h2>
                        </div>
                        <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. enean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis consequat pulvinar quis, pretium quis massa. Vestibulum nec nibh eu nisi rutrum iaculis. Pellentesque placerat sit amet leo in vestibulum. Suspendisse quam neque, rutrum vel scelerisque</p>
                        <a href="#" class="primary-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="about-img">
                        <img src="/static/img/about-rt.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us section End -->


    <!-- About Counter Begin -->
    <div class="about-counter set-bg spad" data-setbg="/static/img/counter-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="single-counter">
                        <i class="flaticon-001-meditation"></i>
                        <span class="counter-num counter">325</span>
                        <span>Active members</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="single-counter">
                        <i class="flaticon-011-hamsa"></i>
                        <span class="counter-num counter">7</span>
                        <span>Instructors</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="single-counter">
                        <i class="flaticon-010-chakra"></i>
                        <span class="counter-num counter">49</span>
                        <strong>k</strong>
                        <span>Ig follovers</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 text-center">
                    <div class="single-counter">
                        <i class="flaticon-009-yoga-1"></i>
                        <span class="counter-num counter">15</span>
                        <span>Awards won</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Counter End -->

    <!-- About Team Section Begin -->
    <section class="about-team spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <span>Your inner Chi</span>
                        <h2>The team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="single-team-member">
                        <div class="team-pic">
                            <img src="/static/img/team-member/member-1.jpg" alt="">
                        </div>
                        <div class="team-text">
                            <span>Yoga master</span>
                            <h4>Maria Smith</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-team-member">
                        <div class="team-pic">
                            <img src="/static/img/team-member/member-2.jpg" alt="">
                        </div>
                        <div class="team-text">
                            <span>Pilates instructor</span>
                            <h4>Anna Michaels</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="single-team-member">
                        <div class="team-pic">
                            <img src="/static/img/team-member/member-3.jpg" alt="">
                        </div>
                        <div class="team-text">
                            <span>Yoga teacher</span>
                            <h4>Carla Williams</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Team Section End -->
    
    <!-- About Call To Action Begin -->
    <section class="about-callto-action set-bg" data-setbg="/static/img/about-callto-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="about-call-to-text">
                        <h2>Begginers class start this month</h2>
                        <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. enean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo,</p>
                        <a href="#" class="primary-btn about-callto-btn">Join now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Call To Action End -->

   
</div>
{% endblock %}