{% extends "base.html" %}

{% block title %} Classes {% endblock %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Hero Single Section Begin -->
    <section class="hero-single set-bg spad" data-setbg="/static/img/blog-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="hero-item">
                        <span class="tickler-text">Who we are</span>
                        <h1>Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Single Section End -->
    <!-- Blog Section Begin -->
    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-items">
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/static/img/blog/blog-1.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <span>January 22, 2019</span>
                                <h2>10 ways to search for your inner chi</h2>
                                <ul>
                                    <li>By admin</li>
                                    <li>In Yoga</li>
                                    <li>Hatha, tips, tricks</li>
                                </ul>
                                <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse
                                    potenti. Donec congue vel justo eget malesuada. enean quis velit pulvinar,
                                    pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo
                                    eget malesuada. In arcu justo,</p>
                                <a href="#" class="primary-btn blog-btn">Read more</a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/static/img/blog/blog-2.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <span>January 22, 2019</span>
                                <h2>10 ways to search for your inner chi</h2>
                                <ul>
                                    <li>By admin</li>
                                    <li>In Yoga</li>
                                    <li>Hatha, tips, tricks</li>
                                </ul>
                                <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse
                                    potenti. Donec congue vel justo eget malesuada. enean quis velit pulvinar,
                                    pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo
                                    eget malesuada. In arcu justo,</p>
                                <a href="#" class="primary-btn blog-btn">Read more</a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="blog-pic">
                                <img src="/static/img/blog/blog-3.jpg" alt="">
                            </div>
                            <div class="blog-text">
                                <span>January 22, 2019</span>
                                <h2>10 ways to search for your inner chi</h2>
                                <ul>
                                    <li>By admin</li>
                                    <li>In Yoga</li>
                                    <li>Hatha, tips, tricks</li>
                                </ul>
                                <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse
                                    potenti. Donec congue vel justo eget malesuada. enean quis velit pulvinar,
                                    pellentesque neque vel, laoreet orci. Suspendisse potenti. Donec congue vel justo
                                    eget malesuada. In arcu justo,</p>
                                <a href="#" class="primary-btn blog-btn">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-pagination">
                                <a href="#">01.</a>
                                <a href="#">02.</a>
                                <a href="#">03</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-rt">
                        <div class="search-form">
                            <form action="#">
                                <input type="text">
                                <input type="submit" value="Search">
                            </form>
                        </div>
                        <div class="categories-list">
                            <h5>Categories</h5>
                            <ul>
                                <li>Yoga <span>(4)</span></li>
                                <li>Pilates <span>(9)</span></li>
                                <li>Marketing <span>(12)</span></li>
                                <li>Trick & Tips <span>(6)</span></li>
                                <li>Uncategorized <span>(8)</span></li>
                            </ul>
                        </div>
                        <div class="archive-list">
                            <h5>Archive</h5>
                            <ul>
                                <li>November <span>(11)</span></li>
                                <li>Octomber <span>(8)</span></li>
                                <li>Septpember <span>(8)</span></li>
                                <li>August <span>(11)</span></li>
                                <li>July <span>(2)</span></li>
                                <li>June <span>(9)</span></li>
                            </ul>
                        </div>
                        <div class="latest-post">
                            <h5>Latest Posts</h5>
                            <ul>
                                <li>
                                    <div class="latest-pic">
                                        <img src="/static/img/latest/latest-1.png" alt="">
                                    </div>
                                    <div class="latest-text">
                                        <span>January 09, 2019</span>
                                        <h6>Yoga questions</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-pic">
                                        <img src="/static/img/latest/latest-2.png" alt="">
                                    </div>
                                    <div class="latest-text">
                                        <span>January 09, 2019</span>
                                        <h6>Everything you need to know about yoga</h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="latest-pic">
                                        <img src="/static/img/latest/latest-3.png" alt="">
                                    </div>
                                    <div class="latest-text">
                                        <span>January 09, 2019</span>
                                        <h6>Why take a yoga class?</h6>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
</div>
{% endblock %}