
{% extends "base.html" %}

{% block title %} Classes {% endblock %}

{% block content-wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        
       
       
        <!-- Header End -->
        <!-- Hero Single Section Begin -->
        <section class="hero-single set-bg spad" data-setbg="/static/img/classes-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="hero-item">
                            <span class="tickler-text">Who we are</span>
                            <h1>Classes</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Single Section End -->
        <!-- Yoga Classes Begin -->
        <section class="yoga-classes-section classes-page spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto text-center">
                        <div class="section-title">
                            <span>Your inner Chi</span>
                            <h2>We offer a great number of classes</h2>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                                Donec congue vel justo eget malesuada. enean quis velit pulvinar, pellentesque neque
                                vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu
                                justo, sagittis consequat pulvinar quis.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-002-yin-yang"></i>
                            <h3>Yoga</h3>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                                Donec congue vel justo eget malesuada. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-021-yoga-mat"></i>
                            <h3>Pilates</h3>
                            <p>Etiam pretium, nibh vitae varius ultricies, tellus diam gravida elit, vel rhoncus eros
                                eros sit amet ipsum. Cras cursus pellentesque.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-001-meditation"></i>
                            <h3>Hatha</h3>
                            <p>Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis
                                consequat pulvinar quis, pretium quis massa. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-012-mandala"></i>
                            <h3>Iyengar yoga</h3>
                            <p>Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis
                                consequat pulvinar quis, pretium quis massa. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-009-yoga-1"></i>
                            <h3>Ashtanga </h3>
                            <p>Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis
                                consequat pulvinar quis, pretium quis massa. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-classes">
                            <i class="flaticon-017-monk"></i>
                            <h3>Prenatal yoga </h3>
                            <p>Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu justo, sagittis
                                consequat pulvinar quis, pretium quis massa. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Yoga Classes End -->
        <!-- Yoga Price Begin -->
        <section class="yoga-price set-bg spad" data-setbg="/static/img/yoga-price-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="single-price-item">
                            <h4>Prenatal Yoga<br />Class</h4>
                            <div class="price">
                                <h2>$35</h2>
                                <span>Per month</span>
                            </div>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                            </p>
                            <a href="#" class="price-btn">Get it now</a>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="single-price-item begginers">
                            <h4>Pillates Class for<br />begginers</h4>
                            <div class="price">
                                <h2>$25</h2>
                                <span>Per month</span>
                            </div>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                            </p>
                            <a href="#" class="price-btn">Get it now</a>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="single-price-item">
                            <h4>Hatha Yoga<br />Class</h4>
                            <div class="price">
                                <h2>$30</h2>
                                <span>Per month</span>
                            </div>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                            </p>
                            <a href="#" class="price-btn">Get it now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Yoga Price End -->
        <!-- Discount Price Begin -->
        <section class="discount-price set-bg spad" data-setbg="/static/img/discount-bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="discount-text">
                            <h2>Join at a discount price</h2>
                            <p>Aenean quis velit pulvinar, pellentesque neque vel, laoreet orci. Suspendisse potenti.
                                Donec congue vel justo eget malesuada. enean quis velit pulvinar, pellentesque neque
                                vel, laoreet orci. Suspendisse potenti. Donec congue vel justo eget malesuada. In arcu
                                justo,</p>
                            <ul>
                                <li><i class="fa fa-check-circle"></i><span>Donec congue vel justo eget malesuada. In
                                        arcu justo,</span></li>
                                <li><i class="fa fa-check-circle"></i><span>Suspendisse quam neque, rutrum vel
                                        scelerisque eu</span></li>
                                <li><i class="fa fa-check-circle"></i><span>Nulla mollis dapibus lacus, vel mattis
                                        mauris.</span></li>
                            </ul>
                            <a href="#" class="primary-btn discount-btn">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Discount Price End -->


</div>
{% endblock %}